<launch>
    <group ns="$(env HOSTNAME)">
        <arg name="remote_address" default="10.42.43.1"/>
        <arg name="remote_port" default="10022"/>
        <arg name="bluefox" default="1"/>
        <arg name="webcam" default="0"/>
        <arg name="lcm_id" default="$(optenv lcm_id 22)"/>
	<arg name="camera_id" default="26802465"/>

	<node  pkg="dynamic_reconfigure" type="dynparam" name="camera_init" args="set /$(env HOSTNAME)/camera/image_raw/compressed jpeg_quality 15"/>

        <include file="$(find bluefox2)/launch/single_node.launch" if="$(arg bluefox)">
            <arg name="device" value="$(arg camera_id)"/>
            <arg name="camera_name" value="camera"/>
        </include>

        <node name="camera" pkg="usb_cam" type="usb_cam_node" if="$(arg webcam)">
            <param name="video_device" value="/dev/video0"/>
            <param name="image_width" value="640"/>
            <param name="image_height" value="480"/>
            <param name="pixel_format" value="yuyv"/>
            <param name="camera_frame_id" value="camera_link"/>
            <param name="io_method" value="mmap"/>
            <param name="camera_name" value="camera"/>
            <remap from="camera/image" to="camera/image_raw"/>
            <!-- <param name="camera_info_url" type="string" value="package://thymioid/calibration/camera.yaml" /> -->
        </node>

        <include file="$(find odroid_manet)/launch/nimbro.launch">
            <arg name="address" value="$(arg remote_address)"/>
            <arg name="port" value="$(arg remote_port)"/>
            <arg name="rate" value="1.0"/>
            <arg name="compress" value="false"/>
        </include>

        <node pkg="odroid_manet" name="lcm_bridge" type="lcm_bridge.py">
            <param name="id" value="$(arg lcm_id)"/>
            <remap from="fix" to="mavros/global_position/global"/>
        </node>



	<include file="$(find mavros)/launch/apm.launch">
	    <arg name="fcu_url" value="/dev/ttyS2:57600"/>
	</include>


    </group>
</launch>
